﻿@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Buttons Portion *@
@section Buttons{
    <button class="btn btn-success" type="button" id="btnAdd">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button class="btn btn-primary" type="button" id="btnEdit">
        <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button class="btn btn-danger" type="button" id="btnDelete">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-primary" type="button" id="btnRefresh">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
}

<div class="col-lg-12">
    <table class="table">
        <thead>
            <tr class="alert-info">
                <th> Name</th>
                <th> Mobile</th>
                <th> Address</th>
                <th> Email</th>
                <th> Birth Date</th>
                <th> Age</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Rows.Count == 0)
            {
                <tr>
                    <td colspan="6">No Record Found</td>
                </tr>
            }
            else
            {
                foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        <td>  @Html.DisplayFor(Model => @row[3])</td>
                        <td>  @Html.DisplayFor(Model => @row[5])</td>
                        <td>  @Html.DisplayFor(Model => @row[4])</td>
                        <td>  @Html.DisplayFor(Model => @row[6])</td>
                        <td>  @Html.DisplayFor(Model => @row[7])</td>
                        <td>  @Html.DisplayTextFor(Model => @row[8])</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




<div class="modal fade" id="divAddCustomer">
    <form id="frmAddCustomer" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4>Add Customer</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderPartial("Alert_Div");
                    }

                    <div class="row text-right small">
                        <div class="col-md-12"><label>Note :</label>&nbsp;<label style="color:red">Mobile Number Not Repeated.</label></div>
                    </div>
                    <div class="row" style="padding-bottom:5px">
                        <div class="col-md-3"><label>Full Name</label>&nbsp;<label style="color:red">*</label></div>
                        <div class="col-md-9">@Html.TextBox("Full_Name", "", new { @class = "form-control", @maxLength = "40" })</div>
                    </div>
                    <div class="row" style="padding-bottom:5px">
                        <div class="col-md-3"><label>Birth Date</label>&nbsp;<label style="color:red">*</label></div>
                        <div class="col-md-9">@Html.TextBox("DOB", "", new { @class = "form-control", @type = "date" })</div>
                    </div>
                    <div class="row" style="padding-bottom:5px">
                        <div class="col-md-3"><label>Address</label>&nbsp;<label style="color:red">*</label></div>
                        <div class="col-md-9">@Html.TextArea("Address", "", new { @class = "form-control" })</div>
                    </div>

                    <div class="row" style="padding-bottom:5px">
                        <div class="col-md-3"><label>Mobile</label>&nbsp;<label style="color:red">*</label></div>
                        <div class="col-md-9">@Html.TextBox("Mobile", "", new { @class = "form-control", @maxLength = "10", @onkeypress = "return AvoidSpace(event)" })</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Email</label>&nbsp;<label style="color:red">*</label></div>
                        <div class="col-md-9">@Html.TextBox("Email", "", new { @class = "form-control", type = "email", @maxLength = "40", @onkeypress = "return AvoidSpace(event)" })</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCustomerAdd" type="button" class="btn btn-primary" title="Submit Data">Save</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/AllOne.js"></script>
<script>
    function ResetText() {
        $("#Full_Name").val(""); $("#Address").val(""); $("#Mobile").val(""); $("#Email").val("");
    }

    $(document).ready(function () {
        $("#btnAdd").click(function () {
            $("#divAddCustomer").modal();
        });
    });
</script>

