﻿
@{
    ViewBag.Title = "SMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Buttons{
    <button class="btn btn-success" type="button" id="btnAdd">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button class="btn btn-primary" type="button" id="btnEdit">
        <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button class="btn btn-danger" type="button" id="btnDelete">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-primary" type="button" id="btnRefresh">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
}


<script src="~/Scripts/AllOne.js"></script>