﻿<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyOwn.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

<div class="navbar navbar-fixed-bottom" style="background-color:#bb0d58">
    <div class="row" style="color:white">
        @*<div class="modal-body col-md-6 text-right">
            <a href="#" class="glyphicon glyphicon-facetime-video" style="font-size:23px;color:white;text-decoration:none" title="Home Page"></a> &nbsp;  &nbsp;
            <a href="#" class="glyphicon glyphicon-education" style="font-size:23px;color:white;text-decoration:none"></a>&nbsp;  &nbsp;
        </div>*@
        <div class="modal-body col-md-12 text-center">
            <label class="BottomLabel" style="font-weight:normal;font-family:Calibri">&copy; @DateTime.Now.Year Copy Right , All Right Reserve </label>
        </div>
        
    </div>
</div>