﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>Online Bootique :: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        Html.RenderPartial("~/Views/Shared/_TopPanel.cshtml");
        Html.RenderPartial("~/Views/Shared/_BottomPanel.cshtml");
        Html.RenderPartial("~/Views/Shared/_MenuBar.cshtml");
        <div class="modal-body" style="padding-top:5px;">
            <div class="row">
                <div class="col-md-4">
                    <b>Total</b> <label id="lblTotalCount" class="btn btn-danger">0</label>
                </div>
                <div class="text-right col-md-8" style="padding-right:20px">
                    @RenderSection("Buttons", false)
                </div>
            </div>
            
        </div>
    }

    <div class="row" style="margin:1% 1% 5% 1%">
        <div class="col-md-12 table-bordered" style="font-family:Calibri;padding:10px;background-color:#ffffff">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
