﻿<link href="~/Content/NewOne.css" rel="stylesheet" />
<div class="modal-body bg-primary">
    <div class="row" style="padding-top:5px">
        <div class="col-md-4">
            @*<label style="font-family:Calibri;font-size:18px;font-weight:bold">Admin Panel</label>*@
            <label class="anchor" style="font-weight:normal">Welcome : @Session["UserId"]</label> 
        </div>

        <div class="col-md-8 text-right" style="padding-top:5px">
            <a href="~/Master/Dashboard" class="anchor">
                <span class="glyphicon glyphicon-home"></span>&nbsp; Dashboard
            </a> &nbsp; | &nbsp;
            <a href="~/Master/NewCustomer" class="anchor">
                <span class="glyphicon glyphicon-user"></span>&nbsp; Customer
            </a> &nbsp; | &nbsp;
            <a href="~/Master/Sale" class="anchor">
                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; Sale
            </a> &nbsp; | &nbsp;
            <a href="~/Master/Report" class="anchor">
                <span class="glyphicon glyphicon-file"></span>&nbsp; Report
            </a> &nbsp; | &nbsp;
            <a href="~/Master/Alteration" class="anchor">
                <span class=""></span>&nbsp; Alteration
            </a> &nbsp; | &nbsp;
            <a href="~/Master/Ledger" class="anchor">
                <span class="glyphicon glyphicon-save-file"></span>&nbsp; Ledger
            </a> &nbsp; | &nbsp;
            <a href="~/Master/SMS" class="anchor">
                <span class="glyphicon glyphicon-envelope"></span>&nbsp; SMS
            </a> &nbsp; | &nbsp;
            <a href="~/Master/NewCustomer" class="anchor">
                <span class="glyphicon glyphicon-log-out"></span>&nbsp; Log Out
            </a> &nbsp; | &nbsp;
        </div>
    </div>
</div>
