﻿<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyOwn.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

<div class="navbar navbar-fixed-top" style="height:80px;background-color:gainsboro;">
    @*border-bottom:1px solid #bb0d56">*@
    <div class="container">
        <div class="modal-body col-md-5">
            <div class="row">
                <img src="~/ImageProjects/logo.png" class="img img-circle" width="43" height="40" />
                <label style="padding-left:5%" class="TopLabel">Bootique Application</label>
            </div>
        </div>
        <div class="modal-body col-md-6 text-right">
            @*<a href="~/Home/Home" class="glyphicon glyphicon-home" style="font-size:23px;padding-top:5%;color:#bb0d56;text-decoration:none" title="Home Page"></a> &nbsp;  &nbsp;
            <a href="#" class="glyphicon glyphicon-phone-alt" style="font-size:23px;padding-top:5%;color:#bb0d56;text-decoration:none"></a>&nbsp;  &nbsp;
            <a href="#" class="glyphicon glyphicon-education" style="font-size:23px;padding-top:5%;color:#bb0d56;text-decoration:none"></a>&nbsp;  &nbsp;
            <a href="#" class="glyphicon glyphicon-log-in" style="font-size:23px;padding-top:5%;color:#bb0d56;text-decoration:none"></a>&nbsp;  &nbsp;
            <a href="#" class="glyphicon glyphicon-registration-mark" style="font-size:23px;padding-top:5%;color:#bb0d56;text-decoration:none" title="Registration Here"></a>&nbsp;*@
            @*<a href="#" id="btnMap" class="glyphicon glyphicon-map-marker" style="font-size:23px;padding-top:5%;color:#bb0d56;text-decoration:none" title="Google Map"></a>&nbsp;  &nbsp;*@
        </div>
    </div>
</div>
<br />
<div class="" id="DivMap" style="display:none;">
    <div class="modal-body">
        <iframe style="width:100%;border:2px dashed darkgray" height="400" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;q=Prashant%20Nagar%20Nagpur+(Vapsys%20Technologies)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnMap").click(function () {
            $("#DivMap").slideToggle(800);
        });
    });
</script>