﻿

<div class="alert alert-success well-sm" id="divSuccess" style="display:none">
    <label id="lblSuccess">data saved successfully.</label>
</div>
<div class="alert alert-danger well-sm" id="divFailour" style="display:none">
    <label id="lblFailour"></label>
</div>
