﻿.anchor {
    color: white;
    text-decoration: none;
    font-family: Calibri;
    font-size: 15px;
    font-weight: bold;
}
.anchor:hover {
    color: white;
    text-decoration: none;
    font-family: Calibri;
    font-size: 15px;
    font-weight: bold;
}

